# Default ignored files
/../../../../../../../../../../../../../../../../../../:Users/TOM MWACHOFI/flashproject/crudapp/.idea/shelf/
/../../../../../../../../../../../../../../../../../../:Users/TOM MWACHOFI/flashproject/crudapp/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../../../../../../../../../../:Users/TOM MWACHOFI/flashproject/crudapp/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../../../:Users/TOM MWACHOFI/flashproject/crudapp/.idea/dataSources/
/../../../../../../../../../../../../../../../../../../:Users/TOM MWACHOFI/flashproject/crudapp/.idea/dataSources.local.xml
